.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
  border: 3px solid black;
  background-image: repeating-linear-gradient(rgb(116, 42, 42), rgb(124, 124, 124));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 90vh;
  font-size: 1.6rem;
}

.header {
  font-size: 3rem;
  font-family: 'Faster One', cursive;
  padding: 20px;

}

.todo-list {
  padding: 20px;

}

form {
  padding: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid;
  color: lightgray;
  background-color: black;
}

button:hover {
  color: black;
  background-color: lightgray;
} 
